@{
    ViewData["Title"] = "Контакти";
}

<div class="text-center">
    <h1 class="display-4">Контакти</h1>
    <p>Телефон: 0885656827/0884434783</a>.</p>
    <p>
        Работно Време:Понеделник-петък:9:00-18:00
    </p>
    <p>
        Събота: 9:00 – 16:00
    </p>
    <p>
        Неделя: почивен ден
    </p>
</div>
