@{
    ViewData["Title"] = "За Нас";
}

<div class="text-center">
    <h1 class="display-4">За Нас</h1>
    <p>
        Стройтелна Фирма "Мечтан Дом"  осъществява строителство на сгради и всички дейности съпътстващи процеса, както и търговия с недвижими имоти. 30 години динамично развитие, което не е прекъснато нито за ден от предизвикателните събития в бранша.


        Амбициозната идея стартира през 1992 г. от приятелството и общата визия за бъдещето на инж. Тано Нейчев и инж. Любомир Чавдаров. През годините ръководената от тях компания извоюва солидни пазарни позиции и заслужен престиж сред клиентите, както и в средите на строително-предприемаческата колегия.


        От началото на 2020г. управител става и инж. Асен Чавдаров, който достойно замества своя баща инж. Любомир Чавдаров отдал се на заслужена почивка. Безусловно следва очертаните от баща си принципи, но има и своя почерк върху работата на фирмата.</a>.
    </p>
</div>
