@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p></p>
    <p></a></p>
    <img src="https://m.netinfo.bg/media/images/29308/29308919/640-420-umnite-sgradi-stroitelstvoto-na-bydeshteto.jpg" alt="Image" />
</div>
