@{
    ViewData["Title"] = "Новини";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p></a>.</p>
    <img src="https://www.podem-bg.com/images/news/thumb4.jpg" alt="Image" />
</div>